.hero-section {
    margin-top: 8rem;
}
.hero-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 4rem;
    text-align: center;
}

.hero-container {
    width: 40rem;
}
.hero-box {
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.hero-content {
    display: flex;
    justify-content: space-between;
    padding: .5rem .5rem;
    display: flex;
    border: 2px solid white;
    width: 25rem;
    border-radius: 10px;
}

.hero-command-btn {
    padding: 0 1rem;
    border: 1px solid white;
    border-radius: 8px;
}

.hero-content-1 {
    margin-left: 1rem;
}